@charset "ISO-8859-1";

headermenu{
	display:table
	}
#headermenu a:link{
	font-size:larger;
}

a:link{
	 color: cornflowerBlue;
	 text-decoration: none;
}
a:visited{
	color: indigo;
}
a:hover{
	color:blue;
	text-decoration:underline;
}
a:active{
	color:red;
}
.menu_item{
	display:table-cell;
	 padding-right: 20px;
}
.pageheading{
	color:darkblue;
}

table{
	border: 1 px solid black;
	border-collapse:collapse;
	
}
th,td{
	padding:8px;
}

th{
     background:cornflowerblue;
	border: 1 px solid black;
	color:cornsilk;
	font-size:larger;
}
table.form {
	border:0;
	padding:4px;
	width:80%;
	margin:0 auto;

}
table.normal {
	border:0;
	

}

.save {
	padding:6px;
	border-radius:5px;
	font-weight: bold;
	height:30px;
}

.cancel {
	padding:6px;
	border-radius:5px;
	font-weight: bold;
	height:30px;
}

input{
	border:1px solid;
	border-radius:5px;
	border-color:green;
	height:20px;
}
.save:hover{
	background-color:white;
	color:green;
}
.cancel:hover{
	background-color:white;
	color:green;
}
.message{
	font-style: italic;
	color:red;
}
.error{
	font-style: italic;
	color:red;
	margin:5px;
	
}
div.center{
	 text-align:center;
}
div.book{
	display: inline-block;
	margin:20px;
	text-align: center;
}
table.book{
	width:80%;
	border:0;
	margin:0 auto;
}
div.book_group{
	width:80%; 
	margin:0 auto;
}
div.next-row{
	clear:both
}
img.book-small{
	width:128px;
	 height:164px;
	
}
img.book-large{
	width:240px;
	 height:300px;
}
#book-title{
	font-size: x-large;
	font-weight:bold;
}
#author{
	font-size: large;
	font-style:italic;
}
#description{
	vertical-align:top;
	 text-align:justify;
}
#search-image{
	display:inline-block;
	 margin:20px;
	 width:10%"
}
#search-desc{
display:inline-block; 
margin:20px; 
vertical-align:top;
 width:60%; 
 text-align:left;
}
#search-price{
display:inline-block; 
margin:20px; 
vertical-align:top;
}